absl-py==2.3.1
agno==1.8.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
alembic==1.16.4
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.3.0
attrs==25.3.0
Automat==25.4.16
babel==2.18.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.3.0
blinker==1.9.0
cachetools==5.5.2
catboost==1.2.8
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
cmdstanpy==1.2.5
colorama==0.4.6
colorlog==6.9.0
comm==0.2.3
constantly==23.10.4
contourpy==1.3.3
cryptography==45.0.5
cssselect==1.3.0
curl_cffi==0.13.0
cycler==0.12.1
dacite==1.9.2
dash==3.1.1
dask==2025.7.0
dataclasses-json==0.6.7
debugpy==1.8.21
decorator==5.3.1
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
docopt==0.6.2
docstring_parser==0.17.0
duckdb==1.3.0
duckduckgo_search==8.1.1
entrypoints==0.4
et_xmlfile==2.0.0
exa-py==1.15.3
executing==2.2.1
faiss-cpu==1.12.0
fastapi==0.118.0
fastjsonschema==2.21.1
feedparser==6.0.11
filelock==3.18.0
filetype==1.2.0
Flask==3.1.1
flatbuffers==25.12.19
fonttools==4.63.0
fpdf2==2.8.5
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.7.0
gast==0.7.0
geopandas==1.1.1
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.4.0
google-api-core==2.25.0
google-api-python-client==2.171.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-genai==1.40.0
google-generativeai==0.3.2
google-pasta==0.2.0
googleapis-common-protos==1.70.0
graphviz==0.21
greenlet==3.2.3
grpcio==1.76.0
grpcio-status==1.62.3
h11==0.16.0
h5py==3.14.0
holidays==0.77
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.1
hyperlink==21.0.0
idna==3.10
ImageHash==4.3.2
imbalanced-learn==0.14.2
imblearn==0.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
incremental==24.7.2
ipykernel==7.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
itemadapter==0.12.0
itemloaders==1.3.2
itsdangerous==2.2.0
jedi==0.20.0
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.3
json5==0.14.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.19.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.15
keras==3.15.1
kiwisolver==1.5.0
lancedb==0.24.3
langchain==1.0.3
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.0.3
langchain-google-genai==0.0.1
langchain-text-splitters==1.0.0
langgraph==1.0.2
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.41
lark==1.3.1
libclang==18.1.1
lightgbm==4.6.0
llvmlite==0.44.0
locket==1.0.0
lxml==6.0.0
lxml_html_clean==0.4.2
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.11.0
matplotlib-inline==0.2.2
mcp==1.15.0
mdurl==0.1.2
minify_html==0.18.1
mistune==3.2.0
ml_dtypes==0.5.1
multidict==6.7.0
multimethod==1.12
multitasking==0.0.12
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.23.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
nest-asyncio2==1.7.2
networkx==3.6.1
newspaper4k==0.9.3.1
nltk==3.9.1
notebook==7.5.7
notebook_shim==0.2.4
numba==0.61.2
numpy==2.4.6
oauthlib==3.2.2
openai==1.101.0
opencv-python==5.0.0.93
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
optuna==4.4.0
orjson==3.11.4
ormsgpack==1.12.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==26.2
pandas==3.0.3
pandas-plotly==0.2.4
pandocfilters==1.5.1
parsel==1.10.0
parso==0.8.7
partd==1.4.2
patsy==1.0.1
peewee==3.18.2
pefile==2023.2.7
phik==0.12.5
pickleshare==0.7.5
pillow==12.3.0
pipreqs==0.5.0
platformdirs==4.10.0
plotly==6.8.0
primp==0.15.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.4.1
prophet==1.1.7
Protego==0.5.0
proto-plus==1.26.1
protobuf==7.36.0
psutil==7.2.2
pure_eval==0.2.3
puremagic==1.30
pyaml==25.7.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
PyDispatcher==2.0.7
Pygments==2.20.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyMuPDF==1.26.6
pyodbc==5.2.0
pyogrio==0.11.0
pyOpenSSL==25.1.0
pyparsing==3.3.2
pypdf==6.0.0
pyproj==3.7.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==4.1.0
python-multipart==0.0.20
pytz==2025.2
PyWavelets==1.9.0
pywin32==310
pywin32-ctypes==0.2.3
pywinpty==3.0.3
PyYAML==6.0.2
pyzmq==27.0.0
queuelib==1.8.0
referencing==0.36.2
regex==2025.7.34
requests==2.32.5
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.4.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rpds-py==0.26.0
rsa==4.9.1
scikit-base==0.12.4
scikit-learn==1.9.0
scikit-optimize==0.10.2
scipy==1.17.1
Scrapy==2.13.3
seaborn==0.13.2
selenium==4.34.2
Send2Trash==2.1.0
service-identity==24.2.0
sgmllib3k==1.0.0
shap==0.48.0
shapely==2.1.1
shellingham==1.5.4
sidetable==0.9.1
six==1.17.0
sklearn-compat==0.1.6
sktime==0.38.4
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.41
SQLite4==0.1.1
sse-starlette==3.0.2
stack-data==0.6.3
stanio==0.5.1
starlette==0.48.0
statsmodels==0.14.5
streamlit==1.48.1
tantivy==0.24.0
tenacity==9.1.2
tensorflow==2.21.0
termcolor==3.3.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tldextract==5.3.0
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
tornado==6.5.7
tqdm==4.67.1
traitlets==5.15.1
trio==0.30.0
trio-websocket==0.12.2
Twisted==25.5.0
typeguard==4.4.4
typer==0.16.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.16.0
tzdata==2026.2
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.37.0
visions==0.8.1
w3lib==2.3.1
watchdog==6.0.0
wcwidth==0.8.2
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wordcloud==1.9.6
wrapt==2.3.0
wsproto==1.2.0
xgboost==3.2.0
xlrd==2.0.2
xlsxwriter==3.2.5
xxhash==3.6.0
yarg==0.1.9
yarl==1.22.0
ydata-profiling==4.18.1
yellowbrick==1.5
zipp==3.23.0
zope.interface==7.2
zstandard==0.25.0
